.container {
    width: 95%;
    max-width: $breakpoint-desktop;
    margin-left: auto;
    margin-right: auto;

    &--text {
        @media (min-width: $breakpoint-tablet) {
            max-width: 80%;
        }

        @media (min-width: $breakpoint-desktop) {
            max-width: 830px;
        }
    }

    &.items__divider {
        flex-shrink: 0;
        border: none;
        height: 1px;
        background: var(--container-divider-color);
    }
}
