$editor-bg-color: #292929;
$editor-head-body-separator: none; // invisible separator at the moment
$editor-body-bg-color: $editor-bg-color;
$editor-head-bg-color: $editor-bg-color;
$editor-tab-text-color: #b4b4b4;
$editor-body-radius: 10px;
$editor-dot-size: 8px;
$editor-dot-gap: 7px;

.editor {
    width: 100%;
    border-radius: $editor-body-radius;
    overflow: hidden;

    &__head {
        position: relative;
        height: $space-7;
        background-color: $editor-head-bg-color;
        padding: 0 $space-4;
    }

    &__dots {
        position: absolute;
        top: 10px;
        left: $space-3;
        display: flex;
        gap: $editor-dot-gap;
    }

    &__dot {
        width: $editor-dot-size;
        height: $editor-dot-size;
        border-radius: 50%;

        &--red {
            background-color: #ff5f57;
        }

        &--yellow {
            background-color: #febc2e;
        }

        &--green {
            background-color: #28c840;
        }
    }

    &__tab {
        width: 100%;
        font-size: $font-10;
        font-weight: 600;
        text-align: center;
        padding-top: 5px;
        color: $editor-tab-text-color;
        // font-family: $terminal-font-family;
    }

    &__body {
        border-top: $editor-head-body-separator;
        background-color: $editor-body-bg-color;
        padding: $space-1;
        min-height: 150px;
        margin-top: -1px; // just to remove the aliasing artefact when transforming or "perspectiving" the editors 😅
    }
}
