$border: 1px solid #505050;
$editor-body-color: #2d2c2d;
$editor-head-color: $editor-body-color;
$editor-body-radius: 10px;
$editor-tab-body-radius: 8px;

.editor {
    width: 100%;
    border-radius: $editor-body-radius;
    overflow: hidden;

    &__head {
        display: flex;
        gap: $space-8;
        align-items: center;
        height: $space-7;
        background-color: $editor-head-color;
        padding: 0 $space-4;
    }

    &__dots {
        display: flex;
        gap: 7px;
    }

    &__dot {
        flex-shrink: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;

        &--red {
            background-color: #ff5f57;
        }

        &--yellow {
            background-color: #febc2e;
        }

        &--green {
            background-color: #28c840;
        }
    }

    &__tab {
        position: relative;
        font-size: $font-14;
        font-weight: 600;
        padding: $space-2 $space-6 $space-1;
        align-self: flex-end;
        margin-bottom: -1px;
        background-color: $editor-body-color;
        border: $border;
        border-bottom: none;
        border-radius: $editor-tab-body-radius $editor-tab-body-radius 0 0;
        color: #ffffff;
        &::after {
            content: "";
            left: 0;
            bottom: -3px;
            position: absolute;
            display: block;
            width: 100%;
            height: 4px;
            background-color: $editor-body-color;
        }
    }

    &__body {
        border-top: $border;
        background-color: $editor-body-color;
        padding: $space-1;
        min-height: 150px;
    }
}
