.input {
  padding: 0.375em 0.75em;
  border: 1px solid var(--input-border-color);
  border-radius: 10px;
  outline: none;
  min-width: 0;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 0 0 1px var(--input-border-color--hover);
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
  }
}
