.video {
    position: relative;

    &::before {
        content: "";
        display: block;
        padding-top: 100% * (9/16);
    }

    &__content {
        position: absolute;
        inset: 0;
    }
}
