.gallery-items {
    position: relative;
    margin-top: 40px;

    @media (min-width: $breakpoint-tablet) {
        margin-top: 150px;
    }

    &__bg {
        position: absolute;
        top: -45px;
        left: 0;
        right: 0;
        width: 100%;
        height: 145px;
        background: var(--projects-bg-gradient);
        opacity: var(--projects-bg-opacity);
        z-index: -1;
        --triangle-height: 30px;

        @media (min-width: $breakpoint-tablet) {
            top: -90px;
            height: 260px;
            --triangle-height: 80px;
        }

        @media (min-width: $breakpoint-desktop) {
            top: -130px;
            height: 360px;
            --triangle-height: 110px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            border-top: var(--triangle-height) solid var(--bg);
            border-left: 100vw solid transparent;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            border-bottom: var(--triangle-height) solid var(--bg);
            border-right: 100vw solid transparent;
        }
    }

    &__headline {
        font-size: $font-32;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        margin: 74px 0 106px;

        @media (min-width: $breakpoint-tablet) {
            font-size: $font-48;
            margin: 80px 0 164px;
        }

        @media (min-width: $breakpoint-desktop) {
            font-size: $font-62;
            margin: 100px 0 120px 0;
        }
    }

    &__categories {
        margin: $space-3 0;
        padding: $space-7 0;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: $space-10;

        @media (min-width: $breakpoint-tablet) {
            gap: 110px;
        }

        @media (min-width: $breakpoint-desktop) {
            gap: 100px;
        }
    }

    &__divider {
        flex-shrink: 0;
        border: none;
        height: 1px;
        background: var(--projects-divider-color);
    }
}
