.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: $space-15;

    @media (min-width: $breakpoint-tablet) {
        flex-direction: row-reverse;
        gap: 70px;

        &:nth-of-type(even) {
            flex-direction: row;
        }
    }

    @media (min-width: $breakpoint-desktop) {
        gap: 50px;
    }

    &__text-wrapper {
        @media (min-width: $breakpoint-tablet) {
            max-width: 450px;
        }

        @media (min-width: $breakpoint-desktop) {
            max-width: none;
        }
    }

    &__image-wrapper {
        min-width: 40%;
        max-width: 50%;
    }

    &__head {
        display: flex;
        align-items: center;
        gap: $space-6;
        line-height: 1.2;
        margin-bottom: $space-4;

        @media (min-width: $breakpoint-tablet) {
            margin-bottom: $space-6;
        }

        @media (min-width: $breakpoint-desktop) {
            margin-bottom: $space-5;
            gap: $space-10;
        }
    }

    &__headline {
        background-image: var(--project-headline-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: $font-28;
        font-weight: 700;
        color: #7d5ab7;
        margin: 0;

        @media (min-width: $breakpoint-tablet) {
            font-size: $font-40;
        }

        @media (min-width: $breakpoint-desktop) {
            font-size: $font-50;
        }
    }

    &__desc {
        font-size: $font-20;
        margin-bottom: $space-6;

        @media (min-width: $breakpoint-tablet) {
            margin-bottom: $space-8;
        }

        @media (min-width: $breakpoint-desktop) {
            font-size: $font-26;
            margin-bottom: $space-10;
        }
    }

    &__categories {
        margin: $space-5 0;
    }

    &__btns {
        display: flex;
        gap: $space-5;

        @media (min-width: $breakpoint-tablet) {
            gap: $space-6;
        }

        @media (min-width: $breakpoint-desktop) {
            gap: $space-10;
        }
    }

    .button {
        gap: $space-3;
        padding-inline: 1em;

        @media (min-width: $breakpoint-tablet) {
            font-size: $font-20;
        }

        @media (min-width: $breakpoint-desktop) {
            font-size: $font-22;
            padding-inline: 1.3em;
        }
    }
}
