.gallery-item-zoom-container {
    // Represents a gallery item living on its own page

    .page__headline {
        &__main {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: $space-4;
        }

        .project-name {
            white-space: nowrap;
        }
    }

    .gallery-item-zoom {
        &__categories {
            margin: $space-5 0;

            .categories-wrapper {
                justify-content: center;
            }
        }

        &__image-wrapper {
            min-width: 20%;
            max-width: 50%;
            margin: $space-8 auto;
        }

        &__content {
            font-size: $font-20;
            margin-bottom: $space-6;

            @media (min-width: $breakpoint-tablet) {
                margin-bottom: $space-8;
            }

            @media (min-width: $breakpoint-desktop) {
                font-size: $font-26;
                margin-bottom: $space-10;
            }

            blockquote {
                font-style: italic;
            }
        }

        &__categories {
            margin: $space-5 0;
        }

        .gallery-item__btns {
            justify-content: center;
        }
    }
}
