$terminal-green: #a9dc76;
$terminal-yellow: #ffd866;
$mail-list-border: none; // 2px solid var(--mail-list-border-color)
$mail-list-box-shadow: 0px 6px 32px rgb(0 0 0 / 30%);

.mail-list {
    background: var(--mail-list-bg);
    border: $mail-list-border;
    border-radius: 15px;
    margin: 66px auto 0;
    padding: $space-5 $space-3 $space-3;
    box-shadow: $mail-list-box-shadow; // var(--mail-list-box-shadow);

    @media (min-width: $breakpoint-tablet) {
        max-width: 689px;
        margin-top: 102px;
        padding: $space-8 $space-7 $space-5;
    }

    @media (min-width: $breakpoint-desktop) {
        max-width: 991px;
        margin-top: 170px;
        padding: $space-8 $space-10 $space-6;
    }

    &__headline {
        font-size: $font-22;
        font-weight: 600;
        text-align: center;
        margin: 0;

        @media (min-width: $breakpoint-tablet) {
            font-size: $font-24;
        }

        @media (min-width: $breakpoint-desktop) {
            font-size: $font-36;
        }
    }

    .prompt {
        color: $terminal-yellow;
        text-shadow: 0 0 16px $terminal-yellow;
    }

    &__terminal {
        font-family: $terminal-font-family;
    }
    &__terminal__email-input {
        background-color: transparent;
        font-family: $terminal-font-family;
        font-size: $font-18;
        line-height: $font-18;
        border: none;
        outline: none;
        color: $terminal-green;
        overflow: visible;
        width: 2ch;
        text-align: center;
    }
}
