.projects {
    position: relative;

    &__items {
        display: flex;
        flex-direction: column;
        gap: $space-10;

        @media (min-width: $breakpoint-tablet) {
            gap: 110px;
        }

        @media (min-width: $breakpoint-desktop) {
            gap: 210px;
        }
    }
}
