$category-color: #2a2f3d;

.categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: $space-3 0;

    &__category {
        display: inline-flex;
        height: 26px;
        justify-content: center;
        gap: 8px;
        align-items: center;
        text-decoration: none;
        padding: 2px;
        border: 2px solid var(--bg);
        background-color: $category-color;
        color: white;
        border-radius: 13px;
        font-size: $font-12;

        & > *:first-child {
            margin-left: 12px;
        }
        & > *:last-child {
            margin-right: 12px;
        }

        &.link {
            background: var(--button-hero-bg);
            &:hover {
                color: $color-dark--hover;
            }
            &.selected {
                // box-shadow: 0 0 8px var(--button-blue-bg);
                border: 2px solid var(--color);
            }
        }

        &__count {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15px;
            width: 15px;
            padding: 4px;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            font-size: $font-10;
            font-weight: bold;
        }
    }
}
