.u-fx {
    display: flex;

    &-grow {
        flex-grow: 1;
    }

    &-no-shrink {
        flex-shrink: 0;
    }
}

.u-no-wrap {
    white-space: nowrap;
}

.hidden-on-mobile {
    display: none;
    @media (min-width: $breakpoint-tablet) {
        display: inline;
    }
}

.hidden-on-mobile-block {
    display: none;
    @media (min-width: $breakpoint-tablet) {
        display: block;
    }
}

.hint {
    font-size: $font-12;
    font-weight: 600;
    color: var(--mail-list-hint-color);
    margin: $space-3 0 0;

    @media (min-width: $breakpoint-tablet) {
        font-size: $font-14;
    }

    @media (min-width: $breakpoint-desktop) {
        font-size: $font-16;
    }
}
