.u-fx {
    display: flex;

    &-grow {
        flex-grow: 1;
    }

    &-no-shrink {
        flex-shrink: 0;
    }
}

.u-no-wrap {
    white-space: nowrap;
}

.hidden-on-mobile {
    display: none;
    @media (min-width: $breakpoint-tablet) {
        display: inline;
    }
}

.hidden-on-mobile-block {
    display: none;
    @media (min-width: $breakpoint-tablet) {
        display: block;
    }
}

.hint {
    font-size: $font-10;
    font-weight: 600;
    color: var(--mail-list-hint-color);
    margin: $space-3 0 0;

    @media (min-width: $breakpoint-tablet) {
        font-size: $font-12;
    }

    @media (min-width: $breakpoint-desktop) {
        font-size: $font-14;
    }
}

.page__content_container {
    position: relative;
    margin-top: 40px;

    @media (min-width: $breakpoint-tablet) {
        margin-top: 150px;
    }
}

.page__headline {
    font-size: $font-32;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin: 74px 0 106px;

    @media (min-width: $breakpoint-tablet) {
        font-size: $font-48;
        margin: 80px 0 164px;
    }

    @media (min-width: $breakpoint-desktop) {
        font-size: $font-62;
        margin: 100px 0 200px 0;
    }
}

.page__headline__bg {
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    width: 100%;
    height: 220px;
    background: var(--projects-bg-gradient);
    opacity: var(--projects-bg-opacity);
    z-index: -1;
    --triangle-height: 30px;

    @media (min-width: $breakpoint-tablet) {
        top: -180px;
        height: 370px;
        --triangle-height: 80px;
    }

    @media (min-width: $breakpoint-desktop) {
        top: -190px;
        height: 480px;
        --triangle-height: 110px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        border-top: var(--triangle-height) solid var(--bg);
        border-left: 100vw solid transparent;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        border-bottom: var(--triangle-height) solid var(--bg);
        border-right: 100vw solid transparent;
    }
}
