$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

$terminal-font-family: "Fira Mono", monospace;

$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;
$space-8: 32px;
$space-9: 36px;
$space-10: 40px;
$space-11: 44px;
$space-12: 48px;
$space-13: 52px;
$space-14: 56px;
$space-15: 60px;
$space-16: 64px;
$space-17: 68px;
$space-18: 72px;
$space-19: 76px;
$space-20: 80px;
$space-21: 84px;
$space-22: 88px;
$space-23: 92px;

$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-30: 30px;
$font-32: 32px;
$font-34: 34px;
$font-36: 36px;
$font-38: 38px;
$font-40: 40px;
$font-42: 42px;
$font-44: 44px;
$font-44: 44px;
$font-48: 48px;
$font-50: 50px;
$font-62: 62px;
